body {
    background-color: #FFFFFF;
    margin: 0px;
}

.flex-container {
    background-color: #FF8000;
    display: flex;
    flex-direction: row;
}

.flex-container>div {
    width: 100px;
    margin: 10px;
}

.logo-orange1 {
    width: 106px;
    height: 26px;
    left: 151px;
    top: 29px;
}

.menu {
    width: 32px;
    height: 39px;
    left: 21px;
    top: 24px;
}

.settings-icon {
    width: 28px;
    height: 28px;
    left: 351px;
    top: 26px;
}